/*
    Created on : 29.03.2017, 8:41:23
    Author     : evteev_sv
*/
.text-field
{
    -fx-font-family: "Times New Roman";/*"Arial Narrow";*/
    -fx-font-size: 15px;
}
.text-area
{
    -fx-font-family: "Times New Roman";/*"Arial Narrow";*/
    -fx-font-size: 15px;
}

.combobox
{
    -fx-text-fill: aqua;
    -fx-font-family: "Times New Roman";/*"Arial Narrow";*/
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#05ccff, #0510ff);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button
{
    -fx-text-fill: burlywood;
    -fx-font-family: "Times New Roman";/*"Arial Narrow";*/
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#05ccff, #0510ff);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    /*
        -fx-background-color:
            #a6b5c9,
            linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
            linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);
        -fx-background-insets: 0 0 -1 0,0,1;
        -fx-background-radius: 5,5,4;
        -fx-padding: 7 30 7 30;
        -fx-text-fill: #242d35;
        -fx-font-family: "Helvetica";
        -fx-font-size: 12px;
        -fx-text-fill: white;*/
}
.button:hover
{
    -fx-background-color: linear-gradient(#0510ff, #05ccff);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: yellow;


    /**-fx-background-color:
        #a6b5c9,
        linear-gradient(#303842 0%, #3e5577 20%, #375074 100%),
        linear-gradient(#768aa5 0%, #849cbb 5%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%);

    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 30 7 30;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: #fff735;**/
}
.button:disabled
{
    -fx-background-color: linear-gradient(#05ccff, #0510ff);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: gray;
}

.text
{
    -fx-font-family: "Times New Roman";/*"Arial Narrow";*/
    -fx-font-size: 15px;
}
.table-cell-centered
{
    -fx-alignment: center;
}

.priorityLow {
  -fx-control-inner-background: #61a2b1;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}


/*.table-cell .text
{
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}*/
/*.tool-bar
{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.table-view .column-header,
.table-view .filler,
.table-view .nested-column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filter
{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.table-view .column-header .label
{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 13;
}*/

